html {
  font-family: Helvetica;
}
h1 {
  font-size: 100px;
  font-weight: 700;
  color: khaki;
  text-align: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
}
.p1 {
  font-size: 32px;
  font-weight: 700;
color: white;
background-color: mediumspringgreen;
}
.p2 {
  font-size: 32px;
  font-weight: 700;
color: white;
background-color: lightcoral;
}
.p3 {
  font-size: 32px;
  font-weight: 700;
color: white;
background-color: skyblue;
}
h3 {
  font-weight: 700;
}
